<div class="user-info-container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{panelTitle}}</h3>
        </div>
        <div class="panel-body">
            <p><a>头像图片<img src="./assets/imgs/angular2.png" width="20px" height="20px"/></a></p>
            <p><a href="#">{{currentUser?.userName}}</a></p>
            <p>少女雨</p>
            <p>文章：50</p>
            <p>评论：10</p>
        </div>
        <div class="panel-footer">
            <button class="btn btn-success" (click)="followBtnClick()">关注</button>
        </div>
    </div>
</div>