<!--中间右边部分最上角的社交媒体-->
<div class="social-channel-container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">社交媒体</h3>
        </div>
        <div class="list-group">
            <a href="http://weibo.com/xiaoyu051027/" class="list-group-item" target="_blank"><i class="fa fa-weibo" aria-hidden="true"></i> 个人微博</a>
            <a href="https://github.com/sulishibaobei/" class="list-group-item" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> 我的github</a>
            <a href="http://www.sulishibaobei.com" class="list-group-item" target="_blank"><i class="fa fa-eye" aria-hidden="true"></i> 个人博客</a>
        </div>
    </div>
</div>