<!-- QQ群  QQ二维码怎么 生成的-->
<div class="online-contact-container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">我有话说</h3>
        </div>
        <div class="list-group">
            <p class="list-group-item"><i aria-hidden="true"></i> &nbsp;&nbsp;这是一个Angular 2.0 以上的项目，基于大漠老师的Nicefish ，只是在此基础上改版成自己的，并加入了许多大漠老师未完成的模块
                算是一个微型网站；如果想了解更多，欢迎去看我的个人博客
                <a target="_blank" href="http://www.sulishibaobei.com">www.sulishibaobei.com</a>
            </p>
        </div>
    </div>
</div>